body{
    background-color: #f4f4f4;
}

/*The navbar*/
.navbar{
    min-height: 33px !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-nav li a, .navbar-brand{
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px!important;
}

#topnav{
    background-color:darkgreen;
}

/*Costom color*/
.main-color{
    background-color: darkgreen !important;
    color:#ffffff !important;
    border-color: aliceblue !important;
}

/*Header*/
#header{
    background-color: #333;
    color:#fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 20px;
}

/*breadcrumb*/
.breadcrumb{
    background-color: #ccc;
    color: #333;
}

.breadcrumb a{
    color:#333333;
}

/*Progress bars*/
.progress-bar{
    background:green;
    color:white;
}

.dash-box{
    text-align: center;
}

/*Footer*/
#footer{
    background-color: #333;
    color:#fff;
    padding: 30px;
    text-align: center;
    margin-bottom: 35px;
}